.main-content {
  display: flex;
}

.asidebar {
  background-color: $primary-color;
  height: 100vh;
  width: 20%;
}

.asidebar__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
}

.asidebar__option {
  color: $white-color;
  font-size: 35px;
  margin-top: 55px;
  text-decoration: none;
  transition: all 0.4s;

  &:hover {
    background-color: $white-color;
    border-radius: 30px 0px 0px 30px;
    height: 60px;
    color: black;
    padding-left: 10px;
    line-height: 60px;
  }

  &:last-child {
    margin-top: 510px;
  }
}

.asidebar__icon-menu {
  font-size: 32px;
  margin-right: 20px;
}
