.btn {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 10px 7px 10px;
  height: 50px;
  width: 130px;

  transition: color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: white, $amount: 10);
  }
}

.btn-secondary {
  background-color: $secondary-color;

  &:disabled {
    background-color: lighten($color: $secondary-color, $amount: 15);
  }

  &:hover {
    background-color: darken($color: $secondary-color, $amount: 10);
  }
}

.btn-font-weight {
  font-weight: 700;
}
