.Productos__main {
  display: flex;
  flex-direction: column;
}

/** Filtros **/
.Productos__filtros-main {
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 120px;
  margin: 0px auto;
  margin-top: 20px;
  width: 900px;
}

.Productos__filtros-form {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Productos__filtros-form-selected {
  font-size: 20px;
  background-color: $secondary-color;
  color: white;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  font-weight: 500;
  padding-left: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: darken($color: $secondary-color, $amount: 10);
  }
}

.Productos__list-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  height: 820px;
  justify-content: space-around;
  margin-top: 40px;
  overflow-y: scroll;
  width: 1500px;
}

.Productos__producto {
  border: 1px solid #ddd;
  border-radius: 30px;
  list-style: none;
  padding: 20px;
  font-weight: 500;
  width: 250px;
}

.Productos__producto-img {
  width: 100%;
}

.Producots__producto-title {
  text-align: center;

  & h3 {
    font-weight: 500;
  }
}

.Producots__producto-body {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.Productos__producto-text-color {
  color: $secondary-color;
}
